# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage (nyc / jest / vitest / c8)
coverage/
.nyc_output/
.vitest/
coverage-final.json

# TypeScript
dist/
build/
tsconfig.tsbuildinfo

# Environment variables
.env
.env.*.local

# Debugging
.idea/
.vscode/
*.swp
*.swo
*.sw*

# OS files
.DS_Store
Thumbs.db

# MongoDB data dumps
dump/
*.bson
*.lock
*.ns
*.wt

# Optional npm cache
.npm
.eslintcache

# Yarn cache
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
